/* Google Font Poppins imported */
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Poppins:wght@500&display=swap');

/* Style for whole body */
body{
    font-family: 'Licorice', cursive;
    font-family: 'Poppins', sans-serif;
}
.decoration-none{
    text-decoration: none;
}
.vanila-border{
    border-radius: 30px;
}

/* nav-bar hover effect */
.navbar-nav> .nav-item:hover{
    background-color: lightseagreen;
    border-radius: 10px;
}

.vanila-div .vanila-effect:hover{
    background-color: #bf80d8;
    transition: background-color 0.9s ease-in-out;
}